{% extends 'admin/layout.html.twig' %}

{% block subtitle %} - Projects{% endblock %}

{% block stylesheetspecific %}

    <!-- DevExtreme theme -->
    <!--
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.2.5/css/dx.light.css">
    -->

{% endblock %}

{% block content %}
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Projects</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="{{ url('home') }}" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Projects</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Manage projects</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div id="lista-project" class="m-portlet m-portlet--mobile" m-portlet="true">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Projects
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="javascript:;" m-portlet-tool="fullscreen"
                               class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin: Search Form -->
                <div class="m-form m-form--label-align-right m--margin-bottom-15">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12 order-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-2">
                                    {% if permiso.agregar %}
                                        <a id="btn-nuevo-project"
                                           class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air"
                                           href="javascript:;">
							<span>
								<i class="la la-plus"></i>
								<span>
									New
								</span>
							</span>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col-md-8"></div>
                                <div class="col-md-2">
                                    {% if permiso.eliminar %}
                                        <a id="btn-eliminar-project"
                                           class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air m--pull-right"
                                           href="javascript:;">
							<span>
								<i class="la la-trash-o"></i>
								<span>
									Delete
								</span>
							</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-12 order-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-2">
                                    <select class="form-control m-select2" id="filtro-company">
                                        <option value="">Company</option>
                                        {% for item in companies %}
                                            <option value="{{ item.companyId }}">{{ item.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control m-select2" id="filtro-status">
                                        <option value="">Status</option>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control m-input date-picker"
                                               placeholder="From" autocomplete="off" id="fechaInicial"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar glyphicon-th"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control m-input date-picker"
                                               placeholder="To" autocomplete="off" id="fechaFin"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar glyphicon-th"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m_form_search"
                                               placeholder="Search...">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
									<span><i class="la la-search"></i></span>
								</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="javascript:;" id="btn-filtrar"
                                       class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air">
                                        <span>
                                            <i class="la la-search"></i>
                                            <span>Search</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end: Search Form -->
                <!--begin: Datatable -->
                <div class="m_datatable" id="project-table-editable"></div>
                <!--end: Datatable -->
            </div>
        </div>

        <div id="form-project" class="m-portlet m--hide">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" id="form-project-title">
                            Do you want to create a new project? Follow the next steps:
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="javascript:;"
                               class="m-portlet__nav-link m-portlet__nav-link--icon cerrar-form-project"><i
                                        class="la la-close"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-portlet__body">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" >
                        <a class="nav-link active wizard-tab" data-item="1"
                           data-toggle="tab" href="#tab-content-general" id="tab-general">
                            General
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wizard-tab" data-item="2"
                           data-toggle="tab" href="#tab-content-items" id="tab-items">
                            Items
                        </a>
                    </li>
                    <li class="nav-item  m--hide nav-item-hide">
                        <a class="nav-link wizard-tab" data-item="3"
                           data-toggle="tab" href="#tab-content-notes" id="tab-notes">
                            Notes
                        </a>
                    </li>
                    <li class="nav-item  m--hide nav-item-hide">
                        <a class="nav-link wizard-tab" data-item="4"
                           data-toggle="tab" href="#tab-content-data-tracking" id="tab-data-tracking">
                            Data Tracking
                        </a>
                    </li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab-content-general" role="tabpanel">
                        <form class="m-form" id="project-form" action="#" enctype="multipart/form-data"
                              method="post">

                            <input type="hidden" id="project_id" name="project_id"/>

                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group ic-form-group">
                                    <div class="row">
                                        <div class="col-md-4" id="select-company">
                                            <label>
                                                <span class="ic-step-number">1</span>
                                                Company
                                                <span class="ic-small italic">(required)</span>
                                            </label>
                                            <select class="form-control m-select2 event-change" id="company"
                                                    name="company">
                                                <option value="">Select</option>
                                                {% for item in companies %}
                                                    <option value="{{ item.companyId }}">{{ item.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4" id="select-inspector">
                                            <label>
                                                Inspector
                                            </label>
                                            <select class="form-control m-select2 event-change" id="inspector"
                                                    name="inspector">
                                                <option value="">Select</option>
                                                {% for item in inspectors %}
                                                    <option value="{{ item.inspectorId }}">{{ item.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>
                                                <span class="ic-step-number">2</span>
                                                Owner
                                                <span class="ic-small italic">(optional)</span>
                                            </label>
                                            <input type="text" class="form-control event-change" id="owner" name="owner">
                                        </div>
                                        <div class="col-md-4">
                                            <label>
                                                Subcontract NO
                                            </label>
                                            <input type="text" class="form-control event-change" id="subcontract"
                                                   name="subcontract">
                                        </div>
                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <div>
                                                <label class="m-checkbox">
                                                    <input type="checkbox" class="form-control event-change" id="federal_funding" name="federal_funding"> Federal Funding
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>
                                                <span class="ic-step-number">3</span>
                                                County
                                                <span class="ic-small italic">(optional)</span>
                                            </label>
                                            <input type="text" class="form-control event-change" id="county" name="county">
                                        </div>
                                        <div class="col-md-7">
                                            <label>
                                                Project Description
                                            </label>
                                            <input type="text" class="form-control form-control-text event-change"
                                                   id="name" name="name"/>
                                        </div>
                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <div>
                                                <label class="m-checkbox">
                                                    <input type="checkbox" class="form-control event-change" id="resurfacing" name="resurfacing"> Resurfacing
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>
                                                <span class="ic-step-number">4</span>
                                                C & G Project #
                                                <span class="ic-small italic">(required)</span>
                                            </label>
                                            <input type="text" class="form-control form-control-text event-change"
                                                   id="number" name="number"/>
                                        </div>
                                        <div class="col-md-4">
                                            <label>
                                                Manager
                                            </label>
                                            <input type="text" class="form-control event-change" id="manager"
                                                   name="manager">
                                        </div>
                                        <div class="col-md-4">
                                            <label>
                                                Invoice Contact
                                            </label>
                                            <input type="text" class="form-control event-change" id="invoice_contact" name="invoice_contact">
                                        </div>
                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <div>
                                                <label class="m-checkbox">
                                                    <input type="checkbox" class="form-control event-change" id="certified_payrolls" name="certified_payrolls"> Certified payrolls
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>
                                                <span class="ic-step-number">5</span>
                                                Start Date
                                                <span class="ic-small italic">(optional)</span>
                                            </label>
                                            <div class='input-group date'>
                                                <input type='text' class="form-control m-input date-picker event-change"
                                                       placeholder="From" autocomplete="off"
                                                       id="start_date" name="start_date"/>
                                                <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar glyphicon-th"></i>
                                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>
                                                End Date
                                            </label>
                                            <div class='input-group date'>
                                                <input type='text' class="form-control m-input date-picker event-change"
                                                       placeholder="To" autocomplete="off"
                                                       id="end_date" name="end_date"/>
                                                <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar glyphicon-th"></i>
                                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>
                                                <span class="ic-step-number">6</span>
                                                Location
                                                <span class="ic-small italic">(optional)</span>
                                            </label>
                                            <input type="text" class="form-control event-change" id="location"
                                                   name="location">
                                        </div>
                                        <div class="col-md-2">
                                            <label>
                                                PO NUMBER
                                            </label>
                                            <input type="text" class="form-control form-control-text event-change"
                                                   id="po_number" name="po_number"/>
                                        </div>
                                        <div class="col-md-2">
                                            <label>
                                                PO CG
                                            </label>
                                            <input type="text" class="form-control form-control-text event-change"
                                                   id="po_cg" name="po_cg"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label><span class="ic-step-number">7</span>Status</label>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="m-form__group form-group">
                                                <div class="m-radio-inline">
                                                    <label class="m-radio">
                                                        <input type="radio" name="radioestado" id="estadoactivo"
                                                               class="event-change" checked>
                                                        Active
                                                        <span></span>
                                                    </label>
                                                    <label class="m-radio">
                                                        <input type="radio" name="radioestado" id="estadoinactivo"
                                                               class="event-change">
                                                        Inactive
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="tab-pane" id="tab-content-items" role="tabpanel">
                        <div class="row" id="lista-items">
                            <div class="col-lg-12">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right">
                                    <div class="row align-items-center">
                                        <div class="col-xl-12 order-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                {% if permiso.agregar or permiso.editar %}
                                                    <div class="col-md-2">
                                                        <div class="btn-group">
                                                            <button id="btn-agregar-item" class="btn btn-success"
                                                                    style="margin-bottom: 20px; margin-top: 10px;">
                                                                New <i class="la la-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="col-md-7"></div>
                                                <div class="col-md-3">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m_form_search"
                                                               placeholder="Search...">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="items-table-editable"></div>
                                <!--end: Datatable -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-content-notes" role="tabpanel">
                        <div class="row" id="lista-notes">
                            <div class="col-lg-12">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right">
                                    <div class="row align-items-center">
                                        <div class="col-xl-12 order-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                {% if permiso.agregar or permiso.editar %}
                                                    <div class="col-md-2">
                                                        <div class="btn-group">
                                                            <button id="btn-agregar-note" class="btn btn-success"
                                                                    style="margin-bottom: 20px; margin-top: 10px;">
                                                                New <i class="la la-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="col-md-2">
                                                    <div class='input-group date'>
                                                        <input type='text' class="form-control m-input date-picker "
                                                               placeholder="From" autocomplete="off"
                                                               id="filtro-fecha-inicial-notes"/>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar glyphicon-th"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class='input-group date'>
                                                        <input type='text' class="form-control m-input date-picker "
                                                               placeholder="To" autocomplete="off"
                                                               id="filtro-fecha-fin-notes"/>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar glyphicon-th"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m_form_search"
                                                               placeholder="Search...">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="javascript:;" id="btn-filtrar-notes"
                                                       class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                            <span>Search</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="notes-table-editable"></div>
                                <!--end: Datatable -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-content-data-tracking" role="tabpanel">
                        <div class="row" id="lista-data-tracking">
                            <div class="col-lg-12">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right">
                                    <div class="row align-items-center">
                                        <div class="col-xl-12 order-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                {% if permiso.agregar or permiso.editar %}
                                                    <div class="col-md-2">
                                                        <div class="btn-group">
                                                            <button id="btn-agregar-data-tracking" class="btn btn-success"
                                                                    style="margin-bottom: 20px; margin-top: 10px;">
                                                                New <i class="la la-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="col-md-2">
                                                    <select class="form-control m-select2" id="filtro-item">
                                                        <option value="">Item</option>
                                                        {% for item in items %}
                                                            <option value="{{ item.itemId }}">{{ item.description }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class='input-group date'>
                                                        <input type='text' class="form-control m-input date-picker "
                                                               placeholder="From" autocomplete="off"
                                                               id="filtro-fecha-inicial-data-tracking"/>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar glyphicon-th"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class='input-group date'>
                                                        <input type='text' class="form-control m-input date-picker "
                                                               placeholder="To" autocomplete="off"
                                                               id="filtro-fecha-fin-data-tracking"/>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar glyphicon-th"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m_form_search"
                                                               placeholder="Search...">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="javascript:;" id="btn-filtrar-data-tracking"
                                                       class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                            <span>Search</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="data-tracking-table-editable"></div>
                                <!--end: Datatable -->
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="m-form">
                    <div class="m-form__actions text-center">
                        <button id="btn-wizard-anterior"
                                class="btn btn-info m--hide" type="button">
                            Back
                        </button>

                        <button id="btn-wizard-siguiente"
                                class="btn btn-primary" type="button">
                            Next
                        </button>
                        {% if permiso.agregar or permiso.editar %}
                            <button id="btn-wizard-finalizar" class="btn btn-success" type="button">
                                Save
                            </button>
                        {% endif %}
                        <button class="btn btn-danger cerrar-form-project" type="button">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- items -->
    <div class="modal fade" id="modal-item" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New item</h5> 
                    <div class="m-widget14__legend">
                       <span class="m-widget14__legend-bullet m--bg-accent  " id="proyect-number-item"></span>
                       <span class="m-widget14__legend-text"  id="proyect-company-item"></span>
                    </div>
                      
                    <i class="bi bi-4-square-fill" </i>
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="m-form" id="item-form" action="#"
                          enctype="multipart/form-data" method="post">

                        <input type="hidden" id="project_item_id" name="project_item_id"/>

                        <div class="form-group m-form__group ic-form-group">
                            <label>
                                <span class="ic-step-number">1</span>
                                Item
                                <span class="ic-small italic">(required)</span>
                            </label>
                            <div class="row">
                                <div class="col-md-12" id="select-item">
                                    <select class="form-control m-select2" id="item">
                                        <option value="">Select</option>
                                        {% for item in items %}
                                            <option value="{{ item.itemId }}" data-price="{{ item.price }}" data-unit="{{ item.unit.description }}">
                                                {{ item.description }} ${{ item.price | number_format(2, ',', '.') }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group ic-form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>
                                        <span class="ic-step-number">2</span>
                                        Quatity
                                        <span class="ic-small italic">(required)</span>
                                    </label>
                                    <input type="text" class="form-control form-control-number" id="item-quantity" name="quantity">
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        Price
                                    </label>
                                    <div class="input-group m-input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control form-control-number" id="item-price"
                                               name="price">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        Total
                                    </label>
                                    <div class="input-group m-input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control form-control-number" id="item-total"
                                               name="total" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-salvar-item">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-eliminar-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to delete the selected item?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btn-delete-item">Yes
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- data-tracking -->
    <div class="modal fade" id="modal-data-tracking" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New data tracking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="m-form" id="data-tracking-form" action="#"
                          enctype="multipart/form-data" method="post">

                        <input type="hidden" id="data_tracking_id" name="data_tracking_id"/>

                        <div class="form-group m-form__group ic-form-group">
                            <label>
                                <span class="ic-step-number">1</span>
                                Date
                                <span class="ic-small italic">(required)</span>
                            </label>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control m-input date-picker "
                                               placeholder="Select" autocomplete="off"
                                               id="data-tracking-date" name="date"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar glyphicon-th"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group ic-form-group">
                            <label>
                                <span class="ic-step-number">2</span>
                                Item
                                <span class="ic-small italic">(required)</span>
                            </label>
                            <div class="row">
                                <div class="col-md-12" id="select-item-data-tracking">
                                    <select class="form-control m-select2" id="item-data-tracking">
                                        <option value="">Select</option>
                                        {% for item in items %}
                                            <option value="{{ item.itemId }}" data-price="{{ item.price }}">
                                                {{ item.description }} ${{ item.price | number_format(2, ',', '.') }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group ic-form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>
                                        <span class="ic-step-number">3</span>
                                        Quatity
                                        <span class="ic-small italic">(required)</span>
                                    </label>
                                    <input type="text" class="form-control form-control-number" id="data-tracking-quantity" name="quantity">
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        Price
                                    </label>
                                    <div class="input-group m-input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control form-control-number" id="data-tracking-price"
                                               name="price">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        Total
                                    </label>
                                    <div class="input-group m-input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control form-control-number" id="data-tracking-total"
                                               name="total" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-salvar-data-tracking">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-eliminar-data-tracking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to delete the selected data tracking?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btn-delete-data-tracking">Yes
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- notes -->
    <div class="modal fade" id="modal-notes" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="m-form" id="notes-form" action="#"
                          enctype="multipart/form-data" method="post">

                        <input type="hidden" id="notes_id" name="notes_id"/>

                        <div class="form-group m-form__group ic-form-group">
                            <label>
                                <span class="ic-step-number">1</span>
                                Date
                                <span class="ic-small italic">(required)</span>
                            </label>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control m-input date-picker "
                                               placeholder="Select" autocomplete="off"
                                               id="notes-date" name="date"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar glyphicon-th"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group ic-form-group">
                            <label>
                                <span class="ic-step-number">2</span>
                                Notes
                                <span class="ic-small italic">(required)</span>
                            </label>
                            <textarea class="form-control" name="notes" id="notes" rows="6"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-salvar-note">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-eliminar-notes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to delete the selected note?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btn-delete-note">Yes
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsspecific %}

    <!-- DevExtreme libraries (reference only one of them) -->
    <!--
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/23.2.5/js/dx.all.js"></script>
    -->
    <!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/23.2.5/js/dx.web.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/23.2.5/js/dx.viz.js"></script> -->

    <script src="{{ asset('bundles/ican/js/pages/projects.js') }}?{{ 'now' | date('U') }}"></script>
    <script>

        var permiso = {
            agregar: {% if permiso.agregar %}{{ permiso.agregar }}{% else %}0{% endif %}, // 1 o 0
            editar: {% if permiso.editar %}{{ permiso.editar }}{% else %}0{% endif %},
            eliminar: {% if permiso.eliminar %}{{ permiso.eliminar }}{% else %}0{% endif %}
        };

        jQuery(document).ready(function () {
            Projects.init();
        });
    </script>
{% endblock %}
